{% trans_default_domain 'FOSUserBundle' %}
<div class="change-pass-link">
    <a href="{{ path('fos_user_change_password') }}">Change Password</a>
</div>
<div>
<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'Edit'|trans }}" />
    </div>
</form>
</div>
